body{
	background-color: #ffffff;
	font-size: 16px;
}

.row .col{
	/*outline: 1px solid #999999;*/
}

/*Colores*/
/*
Texto títulos rgba(0,25,43,1);
*/

/*Clases generales*/
.title-primary {
	text-align: center;
	color: rgba(0,25,43,1);
	font-family: 'allerbold';
	font-size:3.750em;
	margin: 120px 0 70px 0;
}
	.title-primary:after{
		content: '';
		margin: 0 auto;
		background-color:rgba(0,25,43,0.4);
		height: 1px;
		width: 30%;
		max-width: 90px;
		display: block;
		position: relative;
		top: 30px;
	}

.title-secondary {}

.box-general {
	background-color: #fcfbff;
	/*background-color: #ededed;*/
	border-top: 3px solid rgba(198,190,216,0.4);
	padding: 1em;
	margin: 0 1em 1em 0;
	box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.1);
	transition:all 0.1s ease-in-out;
}
.box-general:hover{
	background-color: rgba(245,243,250,0.8);
	box-shadow: 0px 10px 30px 2px rgba(0,0,0,0.15)
}

.box-general a h3{
	line-height: 1.2em;
	font-size: 1.250em;
	color: rgba(92,135,186,1);
	margin: 0.3em 0 0.3em 0;
	transition: all 0.2s ease-in-out;
}
.box-general a:hover h3{
	color: rgba(92,135,186,0.8);
}

.name-investigador h4{
	margin:0;
	display: inline-block;
	font-size: 0.875em;
	color: rgba(88,86,153,1);
}
.name-investigador h4:first-child{}
.name-investigador h4:after{
	content: '//';
}

.name-investigador h4:last-child{}
.name-investigador h4:last-child:after{
	content: '';
}


.name-investigador h4 a{	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
	color: rgba(88,86,153,1);
}
.name-investigador h4 a:hover{	
	text-decoration: underline;
}

/*Clases generales de noticias*/
.box-news {
	background-color: #fafafa;
}
.box-news img {
	display: inline-block;
    vertical-align: middle;
}
.box-news:hover {
	background-color: #f3f4f6;
}
.box-primary, .box-secondary, .box-small{
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.box-primary h1 a, .box-secondary h2 a, .box-small h3 a{
	color: #484858;
}
.box-secondary p {
	color: #484858;
	font-size: 0.875em;
	line-height: 1.429em;
}
.box-primary h1{
	font-size: 2.375em;
	line-height: 1.211em;
	margin: 12px 0 14px;
}
.box-secondary h2, .box-small h3 {
	font-size: 1.5em;
	line-height: 1.250em;
	margin: 16px 0 14px;
}
.text-date {
	color: #999999;
	font-size:0.750em;
	padding: 1em 0;	
}
.link-more{
	text-align: right;
	margin-bottom: 20px;
	margin-right:20px;
}
.link-more a{
	display: inline-block;
	color: rgba(65,64,96,1);
}
.link-more a:hover{
	display: inline-block;
	color: rgba(65,64,96,0.8);
}
.link-more a i{
	position: relative;
	right: 5px;
	top: 7px;
	font-weight: lighter;
	transition: all 0.2s ease-in-out;
}
.link-more a:hover i{
	right: -5px;
}
.researchers {}

.temas-box{
	color: rgba(65,64,96,1);
	background-color: rgba(88,86,153,0.2);
	border:1px solid rgba(65,64,96,0.1);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: inline-block;
	padding: 0px 5px;
	font-size: 0.813em;
}
.temas-box:hover {
	background-color: rgba(88,86,153,0.3);
}

/*Inicio Header*/
header {
	background-color: #ffffff;
}
<<<<<<< HEAD
.box-logo{
	text-align: center;
}
.logo-ciup{
	margin: 2em 0 1.5em 0;
}

=======
.brand-ciup {
	margin: 20px 0;
}
.main-menu {
	margin: 25px 0 0;
}
>>>>>>> a5b28d4927c9ddc6ee42f8646b7a77d010f59bc2
.menu ul {
	margin: 5px 0;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	color: #7d7d7d;
	text-transform: uppercase;
	padding: 5px 20px;
}
.menu ul li:hover a {
	color: #484858;
	border-top: 3px solid rgba(72,72,88,0.8);
}
.menu ul li:nth-child(8) a{
	color: #bcd8f9;
}
.menu ul li:nth-child(8) a i {
	font-size: 2.188em;
}
.menu ul li:nth-child(8):hover a {
	border-top: none;
	color: #5c87ba;
}
.bar-themes{
	background-color: rgba(65,64,96,1);
}
.bar-themes ul li {
	display: inline-block;
}
.bar-themes ul li a{
	color: #fff;
	font-size: 0.875em;
}
.bar-themes ul li:hover a{
	color: #fff;
	border-top: none;
	transition: all 0.3s ease-in-out;
}
.bar-themes ul li a:hover{
	color: rgba(255,255,255,.5);
	border-top: none;
}
/*fin header*/

.button-collapse{
	position: absolute;
	right: 20px;
	top:60px;
	margin-bottom: 1em;
}
.button-collapse i{
	font-size: 2em;
	color:#414060;
}

<<<<<<< HEAD
/*Libros*/
.box-img-libros{
	position: relative;
	overflow: hidden;
	text-align: center;
}
.box-img-libros img{
	max-width: 100%;
}
=======
.box-primary {}
.box-secondary {}
.box-small{}
.text-date {}
.title-primary {}
.title-secondary {}
.box-general {}
.researchers {}

/*Inicio footer*/
footer {
	background-color: rgba(242, 244, 248, 1);
}
footer h5 {
	color: #414060;
	font-size: 1.375em;
	text-transform: uppercase;
}
footer ul li a, footer p{
	color: #7d7d7d;
	margin-left: 10px;
	font-size: 1em;
	line-height: 28px;
}
.contacto, .correo, .direccion, .articulo-academico {
	width: 100%;
    height: 25px;
    line-height: 25px;
    background: url(../img/sprite-contacto.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
}
.contacto {
	background-position: 0 0;
}
.correo {
	background-position: 0 -32px;
}
.direccion {
	background-position: 0 -64px;
}
.direccion span {
	display: block;
}
.redes {
	margin: 10% 0 0;
}
.redes li {
	display: inline-block;
}
.facebook, .twitter, .gmail, .linkedin {
	width: 45px;
    height: 45px;
    line-height: 45px;
    background: url(../img/sprite-redes.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
    margin: 0 15px;
}
.facebook {
	background-position: 0 0;
}
.twitter {
	background-position: -42px 0px;
}
.gmail {
	background-position: 0 -40px;
}
.linkedin {
	background-position: -42px -40px;
}
.suscripcion {
	background-color: #fff;
    border-radius: 30px;
    padding: 0px 20px;
    border: 2px solid #e6e9ed;
    position: relative;
}
.suscripcion button {
	background-color: #cad6a4;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0px;
    width: 45px;
    height: 45px;
}
.suscripcion input {
	border: 0;
    margin: 0;
}
.suscripcion input[type=text]:not(.browser-default):focus:not([readonly]){
	border-bottom: 0px solid transparent;
    -webkit-box-shadow: 0 1px 0 0 transparent;
    box-shadow: 0 1px 0 0 transparent;
}
.suscripcion input[type=text]:not(.browser-default){
	border-bottom: 0px solid transparent;
	margin: 0;
}
.footer-bottom {
	background-color: rgba(65,64,96,0.8);
	font-family: 'allerregular';
	font-size: 0.875em;
}
.footer-bottom p, .footer-bottom p a{
	color: #f2f4f8;
}
.footer-bottom .row {
	margin: 0px;
}
/*Fin footer*/


.icon{
    position: relative;
}

.icon-articulo-academico:after,
.icon-nota:after, .icon-libro:after, .icon-doc-discusion:after{
	content: '';
	width: 36px;
	height: 30px;
 	background: url(../img/sprite-temas-news.png);
	display: block;
	position: absolute;
	bottom: 10px;
	right: 15px; 
}
.icon-articulo-academico:after{
 	background-position: -2px -2px;
}
.icon-nota:after{
 	background-position: -1px -32px;
}
.icon-libro:after{
 	background-position: -73px -2px;
}
.icon-doc-discusion:after {
	background-position: -37px -32px;
}