body{
	background-color: #ffffff;
	font-size: 16px;
}

.row .col{
	/*outline: 1px solid #999999;*/
}

/*Colores*/
/*
Texto títulos rgba(0,25,43,1);
*/

.color-purple-dark{
	background-color: #414060;
}

.container-fluid{
	width: 95%;
	margin: 0 auto;	
}
/*Clases generales*/
.historia{
	font-family: 'Roboto', sans-serif;

}
.historia h5{
	font-size: 1.250em;
	color:#00192b;
	line-height: 1.5em;
}
.mision-vision p,
.historia p{
	font-size: 1em;
	color: #484858;
	line-height: 2em;
}

.box-mision-vision{
	border: 1px solid #585699;
	padding: 0.5em 2em;
	margin: 2em 2em 4em 2em;
	position: relative;
}
.box-mision-vision h2{
	padding: 0.3em;
	position: absolute;
	font-size: 2.500em;
	color: #585699;
	background-color: #ffffff;
	top: -1.9em;
	font-family: 'allerregular';
}
.title-primary {
	text-align: center;
	color: rgba(0,25,43,1);
	font-family: 'allerbold';
	font-size:3.750em;
	margin: 120px 0 70px 0;
}
	.title-primary:after{
		content: '';
		margin: 0 auto;
		background-color:rgba(0,25,43,0.4);
		height: 1px;
		width: 30%;
		max-width: 90px;
		display: block;
		position: relative;
		top: 30px;
	}

.title-secondary{
	font-family: 'allerregular';
	color: #585699;
	font-weight: lighter;;
	padding-bottom: 0.2em;
	font-size: 1.875em;
	border-bottom: 1px solid #585699;
}

.box-general {
	background-color: #fcfbff;
	/*background-color: #ededed;*/
	border-top: 3px solid rgba(198,190,216,0.4);
	padding: 1em;
	margin: 0 1em 1em 0;
	box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.1);
	transition:all 0.1s ease-in-out;
	max-width: 1000px;	
}
.box-general:hover{
	background-color: rgba(245,243,250,0.8);
	box-shadow: 0px 10px 30px 2px rgba(0,0,0,0.15)
}

.box-general a h3,
.box-general h3{
	line-height: 1.2em;
	font-size: 1.250em;
	color: rgba(92,135,186,1);
	margin: 0.3em 0 0.3em 0;
	transition: all 0.2s ease-in-out;
}
.box-general a:hover h3{
	color: rgba(92,135,186,0.8);
}

.name-investigador h4{
	margin:0;
	display: inline-block;
	font-size: 0.875em;
	color: rgba(88,86,153,1);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
	color: rgba(88,86,153,1);
}
.name-investigador h4:first-child{}
.name-investigador h4:after{
	content: '//';
}

.name-investigador h4:last-child{}
.name-investigador h4:last-child:after{
	content: '';
}


.name-investigador h4 a{	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
	color: rgba(88,86,153,1);
}
.name-investigador h4 a:hover{	
	text-decoration: underline;
}

/*Clases generales de noticias*/
.box-news {
	background-color: #fafafa;
}
.box-news img {
	display: inline-block;
    vertical-align: middle;
}
.box-news:hover {
	background-color: #f3f4f6;
}
.box-primary, .box-secondary, .box-small{
	padding: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.box-primary h1 a, .box-secondary h2 a, .box-small h3 a{
	color: #484858;
}
.box-primary h1 a:hover, .box-secondary h2 a:hover, .box-small h3 a:hover{
	color: rgba(88,86,153,1);
}
.box-secondary p {
	color: #484858;
	font-size: 0.875em;
	line-height: 1.429em;
}
.box-primary h1{
	font-size: 2.375em;
	line-height: 1.211em;
	margin: 5px 0 14px;
}
.box-secondary h2, .box-small h3 {
	font-size: 1.5em;
	line-height: 1.250em;
	margin: 5px 0 14px;
}
.text-date {
	color: #999999;
	font-size:0.750em;
	padding: 1em 0;	
}
.link-more{
	text-align: right;
	margin-bottom: 20px;
	margin-right:20px;
}
.link-more a{
	display: inline-block;
	color: rgba(65,64,96,1);
}
.link-more a:hover{
	display: inline-block;
	color: rgba(65,64,96,0.8);
}
.link-more a i{
	position: relative;
	right: 5px;
	top: 7px;
	font-weight: lighter;
	transition: all 0.2s ease-in-out;
}
.link-more a:hover i{
	right: -5px;
}
.researchers {}

.temas-box{
	color: rgba(65,64,96,1);
	background-color: rgba(88,86,153,0.2);
	border:1px solid rgba(65,64,96,0.1);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: inline-block;
	padding: 0px 5px;
	font-size: 0.813em;
}
.temas-box:hover {
	background-color: rgba(88,86,153,0.3);
}

/*Inicio Header*/
header {
	background-color: #ffffff;
}

.box-logo{
	text-align: center;
}
.logo-ciup{
	margin: 0; /*tener en cuenta para el responsive*/
	width: 50%;
}

.brand-ciup {
	margin: 20px 0;
}
.main-menu {
	text-align: right;
	margin: 25px 0 0;
}
.main-menu ul li{
	border-top: 1px solid #cccccc;
	margin-left: -4px;
}
.main-menu ul li:last-child{
	border-top: 1px solid transparent;
}
.main-menu ul li a {
	color: #7d7d7d;
	font-size: 0.750em;
	text-transform: uppercase;
	padding: 5px 20px;
	border-top: 3px solid rgba(72,72,88,0);
	transition: all 0.3s ease-in-out;
}
.main-menu ul li:hover a {
	color: #484858;
	border-top: 3px solid rgba(72,72,88,0.8);
}


.menu ul {
	margin: 5px 0;
}
.menu ul li {
	display: inline-block;
	margin-left: -4px;;
}
.menu ul li a {
	color: #7d7d7d;
	font-size: 0.750em;
	text-transform: uppercase;
	padding: 5px 20px;
}
.main-menu ul li:hover a,
.main-menu ul li a.active_link {
	color: #484858;
	border-top: 3px solid rgba(72,72,88,0.8);
}
.main-menu ul li:last-child a{
	color: #bcd8f9;
	border-top: 3px solid rgba(72,72,88,0);
}
.main-menu ul li:last-child a i {
	font-size: 2.188em;
}
.main-menu ul li:last-child:hover a {
	border-top: none;
	color: #5c87ba;
	border-top: 3px solid rgba(72,72,88,0);
}

.bar-themes{
	background-color: rgba(65,64,96,1);
}
.bar-themes ul li {
	display: inline-block;
}
.bar-themes ul li a{
	color: #fff;
	font-size: 0.875em;
}
.bar-themes ul li:hover a{
	color: #fff;
	border-top: none;
	transition: all 0.3s ease-in-out;
}
.bar-themes ul li a:hover{
	color: rgba(255,255,255,.5);
	border-top: none;
}
/*fin header*/

.button-collapse{
	position: absolute;
	right: 20px;
	top:60px;
	margin-bottom: 1em;
}
.button-collapse i{
	font-size: 2em;
	color:#414060;
}

/*Libros*/
.box-img-libros{
	position: relative;
	overflow: hidden;
	text-align: center;
}
.box-img-libros img{
	max-width: 100%;
}
.box-primary {
	min-height: 220px;
}
.box-secondary {
	min-height: 346px;;
}
.box-small{
	min-height: 217px;
}
.text-date {}
.title-primary {}
.title-secondary {}
.box-general {}
.researchers {}

/*Inicio footer*/
footer {
	background-color: rgba(242, 244, 248, 1);
	    padding-top: 15px;
}
footer .row {
	margin-bottom: 0px;
}
footer h5 {
	color: #414060;
	font-size: 1.375em;
	text-transform: uppercase;
}
footer ul li a, footer p{
	color: #7d7d7d;
	margin: 5px 10px;
	font-size: 1em;
	line-height: 28px;
}
.contacto, .correo, .direccion, .correo-investigador {
	width: 100%;
    height: 25px;
    line-height: 25px;
    background: url(../img/sprite-contacto.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
}
.contacto {
	background-position: 0 0;
}
.correo {
	background-position: 0 -32px;
}
.direccion {
	background-position: 0 -64px;
}
.correo-investigador {
	background-position: 0 -93px;
	color: #5c87ba;
	width: auto;
}
.direccion span {
	display: block;
}
.redes {
	margin: 10% 0 0;
}
.redes li {
	display: inline-block;
}
.facebook, .twitter, .gmail, .linkedin {
	width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../img/sprite-redes.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
    margin: 0 15px;
}
.facebook {
	background-position: 0 0;
}
.twitter {
	background-position: -42px 0px;
}
.gmail {
	background-position: 0 -40px;
}
.linkedin {
	background-position: -42px -40px;
}
.suscripcion {
	background-color: #fff;
    border-radius: 30px;
    padding: 0px 20px;
    border: 2px solid #e6e9ed;
    position: relative;
}
.suscripcion button {
	background-color: #cad6a4;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0px;
    width: 45px;
    height: 45px;
}
.suscripcion input {
	border: 0;
    margin: 0;
}
.suscripcion input[type=text]:not(.browser-default):focus:not([readonly]){
	border-bottom: 0px solid transparent;
    -webkit-box-shadow: 0 1px 0 0 transparent;
    box-shadow: 0 1px 0 0 transparent;
}
.suscripcion input[type=text]:not(.browser-default){
	border-bottom: 0px solid transparent;
	margin: 0;
}
.footer-bottom {
	background-color: rgba(65,64,96,0.8);
	font-family: 'allerregular';
	font-size: 0.875em;
}
.footer-bottom p, .footer-bottom p a{
	color: #f2f4f8;
}
.footer-bottom .row {
	margin: 0px;
}
/*Fin footer*/

/*Nosotros*/
.header-nosotros{}
.header-nosotros img{
	width: 100%;
	height: auto;
	vertical-align: middle;
	position: relative;;
}
.content-nosotros{
	border:1px solid #d0d7de;
	width: 80%;
	margin: -100px auto 0 auto;
	background:#ffffff;
	z-index:9;
	position:relative;
}
.content-nosotros .tabs{
	margin-top: -70px;
}
.tabs{
	text-align: right;
}
.tabs .tab a{
	font-family: 'allerregular';
	font-size: 1em;
	color:#bcc6d0;
	transition: all 0.3s ease-in-out;
	border-top:3px solid transparent;
	text-transform: capitalize;
}
.tabs .tab a.active,
.tabs .tab a:hover{
	color:#414060;
	border-top:3px solid #8d8ca0;
}
.tabs .indicator{
	display: none;
}
.box-user-ponentes{
	padding: 2px;
    max-width: 220px;
}
.box-user-ciup {
	padding: 2px;
	text-align: center;
	max-width: 220px;
	margin: 0 auto;
	position: relative;
}
.box-user-ciup:hover .bio-user{
	opacity: 1;
	transform: scale(1);
}
.box-user-ciup .bio-user{
	transition: all 0.2s ease-in-out;
	opacity: 0;
	transform: scale(0.8);
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	border:1px solid #4e4d6b;
	background-color: #ffffff;
	padding: 10px;
}
.box-user-ciup .bio-user p{
	font-size: 12px;
	margin: 0;

	display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-user-ciup .box-img-user-ciup, .box-user-ponentes .box-img-user-ponentes{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border:3px solid #ffffff;
	box-shadow: 0px 0px 0px 1px #d4dae1;
	overflow: hidden;
	margin: 20px auto 25px;
}
.box-user-ciup .box-img-user-ciup img{
}
.box-user-ciup .date-user-ciup h2 a,
.box-user-ponentes h2 a{
	font-size: 1em;
    color: #414060;
}

.box-user-ciup .date-user-ciup h2,
.box-user-ciup .date-user-ciup h3,
.box-user-ciup .date-user-ciup h4{
	margin: 0.5em 0;
}

.box-user-ciup .date-user-ciup h2,
.box-user-ponentes h2{
	color: #414060;
	font-family: 'allerbold';
	font-size: 0.875em;
}
.box-user-ciup .date-user-ciup h3{
	color: #7f7f7f;
	font-family: 'Roboto', sans-serif;
	font-size: 0.750em;	
}
.box-user-ciup .date-user-ciup h4{
	color: #5c87ba;
	font-family: 'Roboto', sans-serif;
	font-size: 0.750em;	
}
.box-user-ciup .date-user-ciup a:hover{
	text-decoration: underline;
}
.date-user-ponentes {
	text-align: center;
}
.date-user-ponentes h2:after {
	content: "";
    height: 1px;
    width: 20%;
    display: block;
    background-color: rgba(65,64,96,0.4);
    margin: 10px auto 0;
}
.content-ponentes p{
	margin: 25px 0 0;
	color: #8682bd;
}
/*Areas de investigacion*/
.box-img{}
.box-img img{
	width: 100%;
	height: auto;
}
.box-area{
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.box-text-areas{
	width: 85%;
	background-color: #ffffff;
	display: block;
	padding: 0.5em;
	position: absolute;
	top:80%;
	transition: all 0.3s ease-in-out;
	height: 100%;
}
.box-area:hover .box-text-areas{
	top: 40%;
	height: 100%;
}
.box-text-areas h3{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size:1em;
	color: #484858;
	position: relative;
	width: 100%;
	display: block;
	padding-bottom: 0.5em;
}

.box-text-areas h3:after{
	content:'';
	display: block;
	background-color: #d3d3d7;
	height: 2px;
	width: 30%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.box-text-areas p{
	height: 1px;
	overflow: hidden;
	color: #484858;
	font-family: 'Roboto', sans-serif;
	font-size : 0.875em;
	display: none;
	transition: all 0.1s ease-in-out;
	background-color: white;
}
.box-area:hover .box-text-areas p{
	display: block;
	overflow: visible;
}
.icon{
    position: relative;
}
.box-news.icon-articulo-academico:after,
.box-news.icon-nota:after, .box-news.icon-libro:after, .box-news.icon-doc-discusion:after,
.box-news.icon-medio:after, .box-news.icon-evento:after{
	content: '';
	width: 36px;
	height: 30px;
 	background: url(../img/sprite-temas-news.png);
	display: block;
	position: absolute;
	bottom: 10px;
	right: 15px; 
}
.box-news.icon-articulo-academico:after{
 	background-position: -2px -2px;
}
.box-news.icon-nota:after{
 	background-position: -1px -32px;
}
.box-news.icon-libro:after{
 	background-position: -73px -2px;
}
.box-news.icon-doc-discusion:after {
	background-position: -37px -32px;
}
.box-news.icon-medio:after{
	background-position: -73px -32px;
}
.box-news.icon-evento:after{
	background-position: -1px -62px;
}

.icon-articulo-academico:after,
.icon-nota:after, .icon-libro:after, .icon-doc-discusion:after,
.icon-medio:after, .icon-evento:after{
	content: '';
	width: 36px;
	height: 30px;
 	background: url(../img/sprite-temas-news.png);
	display: block;
	position: absolute;
	bottom: 10px;
	right: 15px; 
}
.icon-articulo-academico:after{
 	background-position: -1px -92px;
}
.icon-nota:after{
 	background-position: -1px -122px;
}
.icon-libro:after{
 	background-position: -73px -92px;
}
.icon-doc-discusion:after {
	background-position: -37px -122px;
}
.icon-medio:after{
	background-position: -73px -122px;
}
.icon-evento:after{
	background-position: -1px -152px;
}

/*Publicaciones*/
.icon-pub-facebook, .icon-pub-twitter, .icon-pub-gmail, .icon-pub-linkedin {
	width: 35px;
    height: 35px;
    line-height: 45px;
    background: url(../img/sprite-redes-publication.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
    margin: 0 15px;
}
.icon-pub-facebook {
	background-position: 0 0;
}
.icon-pub-twitter {
	background-position: 0 -41px;
}
.icon-pub-gmail {
	background-position: 0 -96px;
}
.icon-pub-linkedin {
	background-position: 0px -137px;
}


.icon-pub-redes-facebook, .icon-pub-redes-twitter, .icon-pub-redes-gmail, .icon-pub-redes-linkedin {
	width: 25px;
    height: 25px;
    background: url(../img/sprite-redes-publication-footer.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    margin: 0 15px;
}
.icon-pub-redes-facebook {
	background-position: 0px 0px;
}
.icon-pub-redes-twitter {
	background-position: 0px -48px;
}
.icon-pub-redes-gmail {
	background-position: 0px -97px;
}
.icon-pub-redes-linkedin {
	background-position: 0px -148px;
}

.icon-inv-imprimir, .icon-inv-facebook, .icon-inv-twitter, .icon-inv-gmail, .icon-inv-linkedin {
	width: 35px;
    height: 35px;
    line-height: 45px;
    background: url(../img/sprite-redes-investigador.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
    margin: 0 15px;
}
.icon-inv-imprimir {
	background-position:-11px -5px;
}
.icon-inv-facebook {
	background-position:-11px -226px;
}
.icon-inv-twitter {
	background-position: -11px -150px;
}
.icon-inv-gmail {
	background-position: -11px -297px;
}
.icon-inv-linkedin {
	background-position: -11px -80px;
}
.box-form{
	color: #ffffff;
	font-family: 'allerlight';
	font-size: 1.125em;
	margin-bottom: 2em;
}
/*Buscador publicaciones*/
.box-form input.select-dropdown{
	border:1px solid #d0d7de;
	background-color: #ffffff;
	color: #7d7d7d;
	font-size: 1em;
	border-radius: 5px;
	height: 2.5em;
	text-indent: 0.5em;
}
.dropdown-content li>a,
.dropdown-content li>span{
	color:#414060 ;
}
.box-form span.caret{
	z-index: 1;
	right: 10px
	color:#5880af;
	font-size: 1em;
}
.text-results{
	text-transform: uppercase;
	color: #414060;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.125em;
}
.input-search{
	position: relative;
}
.input-search input[type=text]:not(.browser-default){
	border:1px solid #d0d7de;
	color: #d0d7de;
	border-radius: 0.3em;
	text-indent: 0.5em;
	font-size: 1.875em;
	font-family: 'allerlight';
}
.input-search input[type=text]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #d0d7de;
	box-shadow: 0 0 0 0 transparent;
}
.input-search button{
	position: absolute;
	top: 0;
	right: 0;
	height: 3.1rem;
	background-color:transparent;
	border: none;
}
.input-search button i{
	color: #5880af;
	font-size: 2em;
	line-height: 1.5em;
}
.input-search button:hover i{
	opacity: 0.9;
}

/*Publicaciones detalle*/
.header-publicaciones{
	background-color: #f2f4f8;
}
.title-publication h1{
	font-family: 'allerbold';
	color: #474747;
	font-size: 2em;
	position: relative;
}
.title-publication h1:after{
	content: '';
	height: 1px;
	background-color: rgba(0,25,43,0.4);
	width: 40%;
	display: block;
	margin: 1em auto 0 auto;
}
.autor-publication h2{
	color: #7d7d7d;
	font-size: 1.125em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.contenido-publication h2 {
	color: #474747;
	font-size: 1.313em;
}
.redes-publication .redes{
	margin-top: 4%;
	margin-bottom: 2%;
}
.date-text-publication p{
	color: 414060;
}

.box-publicaciones, .box-investigador {
	background-color: #ffffff;
	border: 1px solid #d0d7de;
	padding: 1em;
}
.box-publicaciones h3 {
	color: #004e90;
	font-size: 1.375em;
	font-family: 'allerregular';
}
.box-publicaciones ul{
	padding-left: 20px;
}
.box-publicaciones ul li{
	position: relative;
	font-family: 'allerregular';
}

.box-publicaciones ul li:after{
	content:'';
	width: 5px;
	height: 5px;
	background-color: #000000;
	display: block;
	position: absolute;
	top:8px;
	left:-10px;
}

.box-publicaciones ul li a{
	color: #474747;
	font-size: 1em;
	font-family: 'allerregular';
}
.box-publicaciones ul li a:hover{
	text-decoration:underline;
}
.dato-investigador>span{
	display: block;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.dato-investigador p{
	margin: 0 5px 10px 0;
	font-size: 18px;
	color: #484858;
}
.dato-investigador p a{
	color: #484858;
}
.dato-investigador p a:hover{
	text-decoration: underline; 
}
.dato-investigador span a span{
	display: inline-block;
}
.content-text-publicaciones p, .content-text-investigador p{
	font-size: 1.125em;
	color: #484858;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.content-link-publicaciones{
	text-align: center;
	margin: 2em 0;
}
.content-link-publicaciones a{
	background-color: rgba(188,216,249,1);
	color: #5c87ba;
	display: inline-block;
	padding: 1em;
	transition: all 0.3s ease-in-out;
}
.content-link-publicaciones a:hover{
	background-color: rgba(188,216,249,0.8);
}
.link-evento{
	margin: 3em 0;
}
.link-evento a {
	color: #fff;
	background-color: rgba(115,111,172,1);
	padding: 1em 3em;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
}
.link-evento a:hover {
	color: #fff;
	background-color: rgba(134,130,189,1);
}
.content-footer-publicaciones{
	border-top: 1px solid #c6bed8;
	padding: 1em 0;
}
.content-footer-publicaciones{}
.content-footer-publicaciones .footer-redes-publication{
	text-align: right;
}
.content-footer-publicaciones .footer-redes-publication .redes{
	margin-top: 0;
}

/*Inevestigadores*/
.header-investigadores{
	position: relative;
	overflow: hidden;
	min-height: 300px;
	max-height: 301px;
}
.header-investigadores img{
	width: 100%;
	height: auto;
	vertical-align: middle;
	position: relative;
}
.header-investigadores h2{
	width: 40%;
	position: absolute; 
	top: 20%;
	left: 10%;
	line-height: 39px;
	text-shadow: 2px 2px 0px rgba(65,64,96,0.5);
	font-size: 26px;
	color: #ffffff;
	font-family: 'allerbold';
}

/*Investigador*/
.info-investigador{
	background-color: rgba(65,64,96,1);
	width: 40%;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 50px;
	height: 100%;
}
.info-investigador h1{
	color: #ffffff;
	font-size: 3.750em;
	color: #ffffff;
	font-weight: bold;
	font-family: 'allerbold';
	position: relative;
	width: 85%;
}
.info-investigador h1:after{
	content:"";
	height: 1px;
	width: 30%;
	display: block;
	background-color: #fff;
	margin-top: 20px;

}

/*Proyecto*/
.box-title-proyecto{
	background-color: #414060;
}
.box-title-proyecto h3{
	padding: 2em;
	color: #ffffff;
	font-family: 'allerregular';
	font-size: 1.750em;
	text-align: center;
}
.box-content-data{
	background-color: #f4f2f7;
	padding: 0.5em 0 0 0;
	border-bottom: 1px solid #c6bed8;
}

.box-content-proyectos{
	background-color: #ffffff;
}
.box-content-proyectos p{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300: 
	line-height:1.7em;
}
.box-content-ficha{
	border-bottom:1px solid #c6bed8;
}
.box-content-ficha h4{
	color: #8682bd;
	font-family: 'allerregular';
	font-size: 1.375em;
}
.box-content-ficha .row{
	border-top:1px solid #c6bed8;
	border-bottom:1px solid #c6bed8;
}
.box-content-status{
	background-color: #414060;
	text-align: center;
	font-family: 'allerlight';
	color: #ffffff;
	padding: 0.3em 0;
}
.box-content-status-text{
	text-align: center;
	font-family: 'allerlight';
	font-size: 1em;
	color:#474747;
}
.box-content-status-text p a{
	color:#474747;
	text-decoration: underline;
}

/*Iniciativas*/
.title-iniciativas{
	border-bottom: 1px solid #c6bed8;
	position: relative;
}
.title-iniciativas h1{
	font-size: 2.250em;
	color: #414060;
	font-family: 'allerregular';
	margin: 0.5em 0;
}
.title-iniciativas a{
	color: #414060;
}
.title-iniciativas a i{
	position: absolute;
	right: 10px;
	bottom: 20px;
}

.text-iniciativas{}
.text-iniciativas p{
	font-family: 'Roboto', san-serif;
	font-weight: 300;
	color:#474747;
	font-size: 1.125em;
	line-height: : 1.125em;
}
.box-img-iniciativas{
	position: relative;
	z-index: 0;
}
.box-img-iniciativas img{
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.btn-iniciativa{
	font-family: 'Roboto', san-serif;
	font-size: 0.875em;
	color: #ffffff;
	background-color: rgba(65,64,96,1);
	transition: all 0.2s ease-in-out;
	display: inline-block;
	position: absolute;
	z-index: 1;
	bottom: 1em;
	right: 1em;
	padding: 0.7em 1em;
}
.btn-iniciativa:hover{
	background-color: rgba(65,64,96,0.8);
}

/*Pager*/

.pager{}
.pager li{
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}
.pager li:first-child:after{
	content:"";
}
.pager li:after{
	content:"//";
	position: absolute;
	top: 7px;
	right: 120%;
	color:#cccccc;
}
.pager li a{
	color: #cccccc;
	display: inline-block;
	padding:0.5em;
}
.pager li a.active,
.pager li a:hover{
	color: #414060;
}

/*Noticias*/
.box-noticias-header {
	width: 60%;
    margin: 0 auto;
}
.box-noticias {
	width: 80%;
    margin: 0 auto;
}
.leyenda-imagen span {
	color: #7d7d7d;
	font-size: 0.875em;
	display: block;
	width: 50%;
	min-width: 250px;
	margin: 0 auto;
}
.quot {
	border-left: 5px solid rgba(88,86,153,0.2);
    padding: 15px 20px;
    color: #484858;
    font-size: 1.375em;
    width: 80%;
    margin: 0 auto;
}
/*Eventos*/
.header-evento{
	background-color: rgba(65,64,96,0.8);
    padding: 20px 50px;
    position: relative;
}
.header-evento img {
	position: absolute;
    top: 35px;
    left: 50px;
}
.header-evento h1 {
	    margin-bottom: 0;
}
.header-evento h1 span {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	font-family: 'allerbold';
}
.header-evento h1 span:last-child {
	font-size: 0.375em;
	text-transform: uppercase;
}
.header-evento h2 {
	color: #fff;
	font-size: 1.875em;
}
.header-evento h2:after {
	content: "";
    height: 1px;
    width: 10%;
    display: block;
    background-color: #fff;
    margin-top: 20px;
}
.box-evento {
	background-color: #fcfbff;
    border-top: 5px solid rgba(198,190,216,0.4);
    padding: 1em;
    margin: 0 1em 1em 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.dato-evento span, .enlace-investigador span{
	display: inline-block;
}
.dato-evento .icon-fecha, .dato-evento .icon-lugar,
.dato-evento .icon-correo, .enlace-investigador .icon-cv,
.enlace-investigador .icon-enlace{
    width: 100%;
    height: 28px;
    line-height: 28px;
    background: url(../img/sprite-temas-news.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
}
.enlace-investigador {
	padding: 4% 0 0;
    border-top: 1px solid #c6bed8;
    margin-top: 5%;
}
.enlace-investigador span{
	color: #484858;
}
.enlace-investigador a span:hover {
   text-decoration: underline;
}
.dato-evento .icon-fecha{
	background-position: -5px -184px;
}
.dato-evento .icon-lugar{
	background-position: -5px -214px;
}
.dato-evento .icon-correo{
	background-position: -5px -243px;
}
.enlace-investigador .icon-cv {
	background-position: -5px -383px;
}
.enlace-investigador .icon-enlace{
	background-position: -5px -415px;
}
.redes-evento {
	border-top: 1px solid #c6bed8;
	border-bottom: 1px solid #c6bed8;
    padding: 0.5em 0;
 }
.redes-evento li {
    display: inline-block;
}
.icon-evento-facebook,
.icon-evento-twitter,
.icon-evento-linkedin,
.icon-evento-google,
.icon-evento-gmail,
.icon-evento-imprimir{
	width: 40px;
    height: 40px;
    line-height: 28px;
    background: url(../img/sprite-temas-news.png) 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 1em;
    text-indent: 2.5em;
    color: #7d7d7d;
    margin: 0 15px;
}
.icon-evento-facebook {
	background-position: -2px -269px;
}
.icon-evento-twitter {
	background-position: -41px -269px;
}
.icon-evento-linkedin {
	background-position: -2px -342px;
}
.icon-evento-google {
	background-position: -2px -306px;
}
.icon-evento-gmail {
	background-position: -41px -306px;
}
.icon-evento-imprimir {
	background-position: -41px -342px;
}
.informacion-evento {
	margin: 7% 0 4%;
}
.informacion-evento span {
	color: #8682bd;
}
.informacion-evento span a {
	margin-left: 20px;
}